/* Globalne */
body {
    background-color: #24282b;
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: normal;
    color: whitesmoke;
    position: relative;
}
.dark-grey{
    color: rgba(55, 55, 55, 0.75);
}
.custom-google-font{
    font-family: 'Quicksand', sans-serif;
    size: 20px;
}
/* Navbar */
.containter-title-top5{
    max-height: 100%;
    min-height: 50%;
    justify-content: center;
}
.title-top5{
    text-align: center;
}
.navbar {
border: 1px solid darksalmon;
color: whitesmoke;
background: linear-gradient(120deg, darksalmon, #E97A95);
}
.a {
    color: whitesmoke;
}
p.srodek {
  margin: 8px;
}
p.autor {
  font-size: 60%;
  margin: 0;
}
.kontener {
    width: 700px;
    max-width: 100%;
    min-width: 20%;
    margin: auto;
    border: 1px solid darksalmon;
    padding: 10px;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55, 55, 55, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(7, 7, 7, 0.80);
  } 
.carousel-tytul{
    color: black;
    background-color: #ffffffa8;
    border-radius: 10px;
    padding: 3px;
}
.carousel-autor{
  color: black;
  background-color: #ffffffa8;
  border-radius: 10px;
  padding: 1px;
}
.ranking-karty{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.top1{
    grid-area: top1;
}
.top2{
    grid-area: top2;
}
.top3{
    grid-area: top3;
}
.top4{
    grid-area: top4;
}
.top5{
    grid-area: top5;
}

/* Footer */
.footer-basic {
    padding:40px 0;;
    color:#151515;
    background: linear-gradient(120deg, darksalmon, #E97A95);
    margin-top: 1%;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(64, 64, 64);
    margin-bottom:0;
  }




.kontener-siatka{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1% 1%; 
    grid-template-areas: 
    "empty slider slider slider empty2"; 
}
.empty{
    grid-area: empty;
}
.slider{
    grid-area: slider;
}
.empty2{
    grid-area: empty2;
}
.empty, .empty2, .slider{
    border: 1px solid darksalmon;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

/* scrollbar http://webkit-scroll-gen.sourceforge.net/ */

::-webkit-scrollbar {
    width: 0.95vw;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #dd5065;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ec9274;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #df967a;
    border: 0px solid #e9967a;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #e1714b;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* amogus */
  
  .karta{
    height: 420px;
    width: 200px;
    margin: 5px;
    background: rgb(231,69,92); 
    background: radial-gradient(circle, rgba(231,69,92,1) 23%, rgba(233,150,122,1) 100%);
  }
  .kartazdjecie {
      width: 198px;
      height: 132px;
  }
  a.klej {
    position:absolute; 
    bottom: 24px;
  }
  a.kartaz {
    color: whitesmoke;
  }




  /* Formularz kontaktowy */
  /* Formularz kontaktowy */
  /* Formularz kontaktowy */

  .form-positioning {
      padding: 10px;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 1%;
      margin-top: 1%;
     border: 1px solid darksalmon;
     width: 40%;
     margin: auto;
  }
.input-style{
    background-color: #3c4144;
    color: darksalmon;
    border: 1px solid #222425;
}



/*PRZYCISK*/

.srodek{
    justify-content: center;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(120deg, darksalmon, #E97A95);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: auto;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}



/*ONAS ONAS ONAS ONAS ONAS ONAS ONAS NOAS*/


.onas-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 3fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
  
.onas-tytul{
  grid-area: 1 / 1 / 2 / 3;
  color: darksalmon;
  }
.onas-opis{
  grid-area: 2 / 1 / 3 / 3;
  color: darksalmon;
}
.onas-lukasz{
  grid-area: 3 / 1 / 4 / 2;
  color: darksalmon;
}
.onas-olek{
  grid-area: 3 / 2 / 4 / 3;
  color: darksalmon;
}

  .onas-lukasz, .onas-olek{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .onas-zdjarticle { grid-area: 1 / 1 / 2 / 2; }
    .onas-opisarticle { grid-area: 2 / 1 / 3 / 2; }
    .onas-zdjarticle > img{
      justify-content: center;
    }
    .onas-opis > article{
      margin-left: 30%;
      margin-right: 30%;
    }
    .onas-tytul > h2{
      text-align: center;
    }