body {
    background-color: #24282b;
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: normal;
    color: whitesmoke;
    position: relative;

}
div {
    border: 1px solid salmon;
    margin: 10px;
    padding: 10px;
}
div.navbar {
    background-color: transparent;
    width: 99.9vw;
    height: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    padding: 6px;
     margin: 8px 40px 8px 40px;
}
.srodek {
    justify-content: center;
}