body {
    background-color: #24282b;
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: normal;
    color: whitesmoke;
    position: relative;

}
div {
    border: 1px solid salmon;
}
div.navbar {
    background-color: transparent;
    width: 99.9vw;
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    padding: 6px;
     margin: 8px 40px 8px 40px;
}
img {
    justify-content: center;
}